.link{
    color: #ffffff;
    font-style: 25px;
    line-height: 28px;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list{
    display: flex;
}
.list>li{
    margin-right: 50px;
}
.header__content{
    background: url("/public/Rectangle2.png");
    height: 850px;
    justify-content: center;
    align-items: center;
    display: flex;  
    flex-direction: column;        
}
.header__title{
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 145px;
}
.header__btn{
    background-color: #ffffff;
    padding: 10px  24px;
    border-radius: 10px;
    color: #000000;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}
.main_title{
    width: 200px;
    height: 46px;
    color: #ffffff;
    margin-bottom: 50px;    
}
.main__title{
    display: flex;
    text-align: center;
    justify-content: center;
}
.titles{
    margin-top: 40px;
}
.about{
    width: 1900px;
    height: 800px;
    background: #0E1C25;
    padding: 30px;
    padding-bottom: 112px;
    &_content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }   
    &_img{
        margin-left: 393px;
        margin-right: 106px;
    }
    &_title{
        color : #ffffff;
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 64px;
        width: 500px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_txt{
        color : #ffffff;
        font-size: 18px;
        line-height: 20px;
        text-align: justify;
        width: 466px;
        height: 397px;
    }
    &_container{
        width: 466px;
        height: 501px;
        margin-right: 455px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }
}
.title{
    font-size: 40px;
    line-height: 46px;
    color: #ffffff;
    margin-bottom: 50px;
}
.works{
    background: #5C6B81;
    width: 1900px;
    height: 1931px; 
    padding: 0px 350px 0px 350px;
    &_examples{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 130px;
    }
    &_section{
        position: relative;
        background: #B12B06;
        width: 312px;
        height: 550px;
        padding: 15px 27px;
        border-radius: 10px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &_title{
        color: #FFFFFF;
        font-size: 20px;
    }
    &_txt{
        width: 264px;
        height: 112px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        font-weight: 700;
    }
    &_btn{
        background: #ffffff;
        color: rgba(0, 0, 0, 1);
        padding: 10px 25px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        margin-bottom: 10px;
    }
}
.footer{
    width: 1900px;
    height: 243px;
    background: #000000;
    &_title{
        display: flex;
        text-align: center;
        justify-content: center;  
    }
    &__title{
        width: 352px;
        height: 46px;
        font-size: 40px;
        font-weight: 400;
        line-height: 46px;
        color: #ffffff;
        margin-top: 50px;
    }
    &_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }
    &_images{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 200px;
    }
}


